{% extends 'project/base.html' %}
{% block content %}

<div align="center"><h2 style="color:salmon">About</h2>

This is a mockup of a site featuring a system to checkout/book specimens for biology labs, or for examples to be presented during lectures.
<br>
<br>
The museum staff are still in the process of organizing the thousands of specimens housed in the Metcalf Science Center, so any operations similar to this will not be available in the forseeable future until most/all specimens are properly catagorized and documented.
<br>
<br>
This is simply a proof of concept. All specimens pictured are not present within the museum, but are rather part of a personal collection housed by the site creator.</div>

{% endblock %}