<!-- incl. common name, kingdom-species/subspecies, type of specimen, images, 
potential uses, link to checkout form, and whether or not specimen is checked out (maybe remove form if so? using if/then) -->

{% extends 'project/base.html' %}
{% load static %}
{% block content %}

<div align="center"><h2 style="color:salmon">{{specimen.c_name}} {{specimen.category}}</h2>
<i style="color:salmon">{{specimen.genus.0}}. {{specimen.species}}</i><br><br>
<img src="{%static specimen.image%}" alt="{{specimen.c_name}}" style="max-width: 400;">

<h3>Checkout this {{specimen.c_name}} {{specimen.category}}?</h3>
Specimen is 
{% if check.pk == true %}
    available. <a href="{% url 'checkout' specimen.pk %}">Click here to check out.</a>
{% else %}
    not available.    
{% endif %}


<h3 style="color:salmon">Taxonomic Catagorization:</h3>
<li style="color:salmon"><b>Kingdom:</b> {{specimen.kingdom}}</li>
<li style="color:salmon"><b>Phylum:</b> {{specimen.phylum}}</li>
<li style="color:salmon"><b>Class:</b> {{specimen.classs}}</li>
<li style="color:salmon"><b>Order:</b> {{specimen.order}}</li>
<li style="color:salmon"><b>Family:</b> {{specimen.family}}</li>
<li style="color:salmon"><b>Genus:</b> {{specimen.genus}}</li>
<li style="color:salmon"><b>Species:</b> {{specimen.species}}</li></div>
{% endblock %}