{% extends 'mini_fb/base.html' %}
{% block content %}

{% csrf_token %}
<table>
    <colgroup>
        <col span="1" style="width:8%;">
        <col span="1" style="width:8%;">
        <col span="1" style="width:8%;">
    </colgroup>
    <h2>{{profile.f_name.pk}}'s Possible Friends</h2>

    {% for possible_friends in profile.get_friend_suggestions %}
    <tr>
        <td><img src="{{possible_friend.image}}"></td>
        <td>{{possible_friend.name}}</td>
        <td>
            <form method='POST' action='{% url "add_friend" profile.pk friend.pk %}'>
                {% csrf_token %}
                <input type='submit' value="add friend" name='Add Friend!'>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}