{% extends 'mini_fb/base.html' %}
{% block content %}

<a href="{% url 'show_profile_page' profile.pk %}">Return to {{profile.f_name}}'s Profile Page</a>
<br>
{% csrf_token %}
<table>
    <colgroup>
        <col span="1" style="width:8%;">
        <col span="1" style="width:8%;">
        <col span="1" style="width:8%;">
    </colgroup>
    <h2>{{profile.f_name}}'s Possible Friends</h2>

    {% for possible_friends in profile.get_friend_suggestions %}
    <tr>
        <td><img src="{{possible_friend.profile.image}}"></td>
        <td>{{possible_friend.name}}</td>
        <td>
            <form method='POST' action='{% url "add_friend" profile_pk=profile.pk friend_pk=possible_friend.pk %}' enctype='multipart/form-data'>
                {% csrf_token %}
                <input type='submit' value="add friend" name='Add Friend!'>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}