{% extends 'mini_fb/base.html' %}
{% block content %}

<h3 style="color:steelblue">Updating Profile</h3>

<form method='POST' action='{% url "update_profile" update_profile.pk %}' enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {% for field in update_profile %}
            {{field.name}}
            {{field}}
            <textarea rows=1 cols=5></textarea>
        {% endfor %}
<form methods='POST'>
    {% csrf_token %}
<input type='submit' name="yes" value="yes">
</form>
{% endblock %}
